.hero {
    position: relative;
    overflow: hidden;
    height: 60vh;
  }
  
  .gameDetails {
    position: absolute;
    z-index: 1;
    top: 22%;
    left: 12%;
    text-align: left;
    color: #C0C0C0; 
    font-size: 2rem;
  }
  
  .hero-image img {
    width: 100%;
    height: fit-content;
    object-fit: fill;
  }
  .gameDetails span {
    font-size: 2.8rem;
    font-weight: 700;
    color: #FFD580;
}

.gameDetailsName{
    font-size: 3rem;
    margin-top: 1.8rem;
}

@media screen and (max-width: 1024px) {
  .hero {
    height: max-content;
  }
  .gameDetails {
    left: 5%;
    font-size: 0.8rem;
  }
  .gameDetails span {
    font-size: 1rem;
}

.gameDetailsName{
    font-size: 0.8rem;
    margin-top: 1.5rem;
}

}